/**********************************************
/* DevTool Chrome
/**********************************************/

//GLOBAL BACKGROUND COLOR
#console-messages,
#console-view,
#network-views .CodeMirror-lines,
#script-view-fallback,
.console-view-wrapper,
.dialog .fill,
.drawer .revision-history-drawer,
.help-window-main,
.panel .split-view-contents,
.panel,
.panel-enabler-view,
.profiles-sidebar-tree-box,
.resource-view .script-view, // network -> response bg
.sidebar-overlay,
.split-view-vertical .sidebar-pane.composite .properties-tree,
.styles-section.read-only,
.tabbed-pane-content,
.tabbed-pane-content.has-no-tabs
.timeline-records-title,
.timeline-records-list,
#timeline-overview-sidebar {
	background-color: @global-background !important;
	z-index: 0;
}

::shadow ::selection,
::selection {
	background: lighten(@global-selected, 45%)
}

#-blink-dev-tools {
	color: @global-text !important;
}

//Panel text
.panel-enabler-view {
	color: @global-text;
}

// Panel Tree Selections
.panel {

	.sidebar-tree-item {

		&.selected {
			background-color: @selection-background !important;
			color: @selection-text !important;
			box-shadow: inset 0 1px 0 0 @selection-border, inset 0 -1px 0 0 @selection-border;
		}

		&:not(.selected):hover {
			background-color: @hover-background !important;
			color: @hover-text !important;
			box-shadow: inset 0 1px 0 0 @hover-border, inset 0 -1px 0 0 @hover-border;
		}

		.disclosure-button {
			background-color: @global-arrow !important;
		}

	}

	.data-grid th {
		border: none !important;
	}

	.status-bar {
		border-bottom: 1px solid @tab-color-top;
	}

	.status-bar-text {
		color: @global-text !important;
	}
}

body.dock-to-right.inactive:not(.undocked):not(.overlay-contents),
body.dock-to-right:not(.undocked):not(.overlay-contents) {
	border-left: transparent !important;
}

.split-view.vbox > .split-view-sidebar.split-view-contents-second:not(.maximized) {
	border-top: none !important;
}

// Buttons
.tabbed-pane-content .settings-tab-text-button {
	.button-styles();
}

// Remove border lines
.split-view.vbox > .split-view-resizer > .split-view-resizer-border,
.split-view.hbox > .split-view-resizer > .split-view-resizer-border {
	border: none !important;
}

// Remove background from sidebars
.sidebar {
	background: none !important;
}

// Editing Dom Nodes or Snippet Filenames
::shadow ::shadow style + .text-prompt-editing,
::shadow ::shadow ::shadow .text-prompt-editing,
.editing {
	box-shadow: none !important;
	background-color: @global-background !important;
	outline: 1px solid @eh-editing-outline !important;
	color: @global-text !important;
}

::shadow ::shadow ::shadow .text-prompt-editing ::content .text-prompt {
	color: @global-text !important;

	.auto-complete-text {
		color: fade(@global-text, 30%) !important;
	}
}

::shadow .text-prompt-editing > ::content * {
	color: @global-text !important;
}

::shadow .elements-tree-editor {
	box-shadow: none !important;
}

// Editing Scope values
::shadow .editing-sub-part ::shadow .text-prompt-editing ::content * {
	background-color: @global-background !important;
	color: @global-text !important;
}

// ----- Material Design ------
.material {

	.elements-topbar {
		background: @filter-background !important;
	}
}

// Tree Directories
.panel-sidebar {
	background-color: @global-background !important;
}

::shadow :not(.read-only)::shadow {
	.tree-outline li {
		color: @global-text !important;
		background-color: @table-primary !important;

		&.odd-row + .children li,
		&.odd-row {
			background-color: @table-secondary !important;
		}

		&:hover:not(.selected) .selection {
			.highlight(hover);
		}

		&.selected .selection {
			.highlight(selection);
		}
	}

	li.audits-sidebar-results {
		text-shadow: none !important;
	}
}

// Don't highlight Request Header Tree
.request-headers-tree::shadow .tree-outline li.selected .selection {
	background-color: transparent !important;
	box-shadow: none !important;
}


::shadow .soft-context-menu {
	background: @popover-background !important;
	border: 1px solid @- !important; .contrast(@popover-background, 5%);
	color: @global-text !important;
	box-shadow: 0 5px 10px fade(#000, 40%) !important;


	.soft-context-menu-item-mouse-over {
		& { background-color: @- !important; .contrast(@popover-background, 8%); }
		& { border-top: 1px solid @- !important; .contrast(@popover-background, 10%); }
		& { border-bottom: 1px solid @- !important; .contrast(@popover-background, 10%); }
		background-image: none !important;
		color: @global-text !important;
	}

	.soft-context-menu-separator > .separator-line {
		border-bottom: 1px solid @- !important; .contrast(@popover-background, 5%);
	}

	// Dock options (remove blue hover)
	.toolbar::shadow .toolbar-shadow.blue-on-hover .toolbar-item:not(.toggled-on).hover:enabled {
		background-color: @global-hover !important;

		.glyph {
			color: @global-text !important;
		}
	}
}

// Console context dropdown
::shadow .console-context {
	background-color: transparent !important;

	&.warning::shadow .title {
		color: @global-warn !important;
	}
}

::shadow .widget::shadow .context-list {
	background: @popover-background !important;
	border: 1px solid @- !important; .contrast(@popover-background, 5%);
	color: @global-text !important;
	box-shadow: 0 5px 10px fade(#000, 40%) !important;

	.context.selected {
		& { background-color: @- !important; .contrast(@popover-background, 8%); }
		& { border-top: 1px solid @- !important; .contrast(@popover-background, 10%); }
		& { border-bottom: 1px solid @- !important; .contrast(@popover-background, 10%); }

		.title {
			color: @global-text !important;
		}

		.subtitle {
			color: @global-label !important;
		}
	}
}

// Tooltips
::shadow .tooltip {
	background: @- !important; .contrast(@global-background, 3%);
	border: 1px solid @global-background;
	color: @global-text !important;

	&-shortcut {
		color: @global-accent !important;
	}
}

// Buttons
::shadow {
	.chrome-select:extend(.chrome-select all) {};

	.text-button,
	[is="text-button"] {
		.button-styles();
	}
}

::shadow ::shadow,
::shadow ::shadow ::shadow {
	.text-button,
	[is="text-button"] {
		.button-styles();
	}
}

::shadow ol.children.shadow-root.expanded {
	border-left: 1px dashed @- !important; .contrast(@global-background, 10%);
}

// ==========================================================================
// Forms
// ==========================================================================
body/deep/ input.toolbar-item {
	.input-styles()
}

label[is="dt-radio"]::shadow ::content .dt-radio-button:checked {
		border: 0 !important;
		background: url("Images/radioDot.png") center center no-repeat @global-accent !important;
}

// ==========================================================================
// 3rd Party Extension
// ==========================================================================

// React - paint bg white
.widget[class*="React"] {
	background: #fff !important;
}

// Remove text shadow from menus
::shadow .tree-outline {
	li.security-sidebar-origins,
	li.profiles-tree-section {
		text-shadow: none !important;
	}
}


// ==========================================================================
// Glyphs
// ==========================================================================

// Large Icons
::shadow .spritesheet-largeicons:not(.icon-mask) {
	&.smallicon-file,
	&.smallicon-file-sync {
		.glyphs("Images/toolbarButtonGlyphs");
		-webkit-mask-size: 352px 168px;
		background: @global-accent !important;
	}
}

// persistence file indicator
::shadow .spritesheet-largeicons:not(.icon-mask) {
	&.smallicon-file,
	&.smallicon-file-sync {
		position: relative;
		top: 2px;
		background: @tab-label !important;
	}
}

::shadow .selected .spritesheet-largeicons:not(.icon-mask) {
	&.smallicon-file,
	&.smallicon-file-sync {
		background: @tab-label-selected !important;
	}
}

// Small Icons
// call stack indicator | thread position indicator | inline breakpoint
.spritesheet-smallicons:not(.icon-mask),
::shadow .spritesheet-smallicons:not(.icon-mask) {
	&.smallicon-thick-right-arrow,
	&.smallicon-inline-breakpoint-conditional {
		.glyphs("Images/smallIcons");
		background: @global-accent !important;
	}

	&.smallicon-checkmark {
		.glyphs("Images/smallIcons");
		background: @global-accent !important;
		-webkit-mask-position: -20px 90px !important;
	}
}

.cm-inline-breakpoint {
	-webkit-mask-position: -60px 90px !important;
}

// override for disabled inline breakpoints
.cm-execution-line-tail + .CodeMirror-widget {
	background-color: transparent !important;
}

::shadow {
	.selected-call-frame-icon,
	.selected-thread-icon {
		-webkit-mask-position: -80px 50px !important;
	}
}
