
/**********************************************
/* Timeline Tab
/**********************************************/
.timeline-category-statusbar-item,
.timeline-records-stats {
	text-shadow: none !important;
	color: #ccc !important;
}

/* Timeline */
.sidebar-tree-section {
	text-shadow: none !important;
}
