/**********************************************
/* Profilers
/**********************************************/
#profile-views .data-grid td > div {
	color: #aaa !important;
}

#profile-views .data-grid button{
	color: #333 !important;
}

.profile-launcher-view-tree-item,
.sidebar-tree-section,
.panel:not(.timeline) .sidebar-tree-item {
	color: #ddd !important;
}

.heap-snapshot-view tr:not(.selected) td.object-column span.highlight {
	background-color: #2E542F !important;
	border-radius: 3px;
}